################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/website/PitBuddy/.vs/PitBuddy/v15/Server/sqlite3
