<div class="title">
  <p style="padding:7px;">Health Check</p>
</div>
<table class="table" style="border:none">
  <tr style="border:none">
    <td class="case" style="border:none">
      <img class="thermometre" src="assets/images/thermometre.png" /><p class="text-center" style="font-weight:600;font-size:24px">37C</p>
    </td>
    <td class="case" style="border:none"><img class="heartbeat" src="assets/images/heartbeat.png" /><p class="text-center" style="font-weight:600;font-size:24px">64bpm</p></td>
  </tr>
  <tr style="border:none">
    <td class="case" style="border:none"><img class="poid" src="assets/images/poid.png" /><p class="text-center" style="font-weight:600;font-size:24px">75kg</p></td>
    <td class="case" style="border:none"><img class="oxygen" src="assets/images/oxygen.png" /><p class="text-center" style="font-weight:600;font-size:24px">37%</p></td>
  </tr>
</table>
