td, th, tr {
  border: solid 2px red;
}

.table {
  width: 100%;
}

.thermometre {
  height: 100%;
  width: 37%;
  margin-left: 5%;
}

.heartbeat {
  height: 100%;
  width: 35%;
  margin-left: 10%;
}

.poid {
  height: 100%;
  width: 35%;
  margin-left: 6%;
}

.oxygen {
  height: 100%;
  width: 35%;
  margin-left: 10%;
}

.case {
  width: 50%;
  height: 150px;
  max-height: 150px;
  min-height: 150px;
}


