@media (max-width: 767px) {
  /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
  .body-content {
    padding-top: 50px;
  }

  .tilesmall {
    height: 400px;
    width: 400px;
    max-height: 400px;
    max-width: 400px;
  }

  .tilebig {
    height: 400px;
    width: 600px;
    max-height: 400px;
    max-width: 400px;
    
  }
}
