@media (max-width: 767px) {
  /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
  .body-content {
    padding-top: 50px;
  }

  .tilesmall {
    height: 40%;
    max-height: 40% !important;
    min-height: 40%;
  }

  .tilebig {
    height: 60%;
    max-height: 60%;
    
  }
}
