<div class='container-fluid height-max'>
  <div class='row'>
    <div class='col-sm-6 tilebig height-max'>
      <app-weather></app-weather>
    </div>
    <div class='col-sm-6 tilebig height-max'>
      <app-inventory></app-inventory>
    </div>
  </div>
  <div class='row height-max'>
    <div class='col-sm-4 tilesmall'>
      <app-health></app-health>

    </div>
    <div class='col-sm-4 tilesmall height-max'>
      <!--<router-outlet></router-outlet>-->
      <app-tasks></app-tasks>
    </div>
    <div class='col-sm-4 tilesmall height-max'>
      <app-chatbot></app-chatbot>
    </div>
  </div>
  </div>
